<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "form-signin"} ) do |f| %>
  
  <h2 class="form-signin-heading">Please sign in</h2>
  
  <%= f.email_field :email, type: 'email', :autofocus => true, class: 'form-control input-lg', placeholder: "Email address" %>
  <%= f.email_field :password, type: 'password', class: 'form-control input-lg', placeholder: "Password" %>
  
  <% if devise_mapping.rememberable? -%>
    <label class="checkbox">
      <%= f.check_box :remember_me %> Remember me
    </label>
  <% end -%>

  <%= f.submit "Sign in", class: 'btn btn-lg btn-primary btn-block' %>      
  <hr />
  <%= render "users/shared/links" %>
<% end %>