<% content_for :jumbotron do %>
  <div class="jumbotron jumbotron-gadgets">
    <div class="container">
      <h1><em class="handwriting">Gadgets</em></h1>
      <p></p>
      <p><a class="btn btn-primary btn-lg" role="button" href="#search-bar">Browse Gadgets &raquo;</a></p>
    </div>
  </div>
  
  <hr id="search-bar" />
  
  <div id="sticky_navigation" class="jumbotron jumbotron-search">
    <div class="container">
      <%= search_form_for @q, class: "form-inline row" do |f| %>  
	    <% if current_user %>
		  <div class="form-group col-xs-5 form-group col-md-8">
	        <%= f.text_field :name_or_content_cont, class: 'form-control input-lg', :placeholder => 'Search...' %>
	      </div>
	      <div class="form-group col-xs-3 form-group col-md-2">
	        <button type="submit" class="btn btn-default btn-lg btn-block">Search</button>
	      </div>	    
	      <div class="form-group col-xs-4 form-group col-md-2">
	       <a href="<%= new_gadget_path %>" class="btn btn-success btn-lg btn-block">New Gadget</a>
	      </div>		  
		<% else %>
		  <div class="form-group col-xs-9 form-group col-md-10">
	        <%= f.text_field :name_or_content_cont, class: 'form-control input-lg', :placeholder => 'Search...' %>
	      </div>
	      <div class="form-group col-xs-3 form-group col-md-2">
	        <button type="submit" class="btn btn-default btn-lg btn-block">Search</button>
	      </div>		
		<% end %>
	    
	  <% end %>
    </div>
  </div>	
<% end %>

<div id="gadgets-index" class="row"> 
  <% @gadgets.each do |gadget| %>
    <div class="col-xs-6 col-sm-4 col-md-3 item-box" data-no-turbolink>      
      <% gadget.images.limit(1).each do |image| %>
	    <%= link_to image_tag(image.photo(:square)), gadget %> 
	  <% end %>
	  <div class="item">
	    <div class="item-inner">
	      <h2>
	        <%= link_to truncate_html(gadget.name, :length => 20, :omission => '...'), gadget %>
	      </h2>
	      <p>
	        <%=raw truncate_html(gadget.content, :length => 120, :omission => "%s") % link_to("... [more]", gadget) %>
	      </p>
	      <p>
	        By: <%= link_to gadget.user.email, gadget.user %>
	      </p>
	    </div>
        <p>
          <%= link_to 'Show', gadget, class: 'btn btn-default' %>
          <% if gadget.user == current_user %>
            <%= link_to 'Edit', edit_gadget_path(gadget), class: 'btn btn-success' %></td>
            <%= link_to 'Destroy', gadget, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
<hr />
<div class="row"> 
  <div class="col-md-12">
    <%= paginate @gadgets %>
  </div>
</div>