<h1>Listing gadgets</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :name_cont %>
  <%= f.text_field :name_cont %>
  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gadgets.each do |gadget| %>
      <tr>
        <td>
          <% unless gadget.images.blank? %>
		    <% gadget.images.limit(1).each do |image| %>
		      <%= image_tag image.photo(:thumb) %><br />
		    <% end %>       
		  <% end %>
        </td>
        <td><%= gadget.name %></td>
        <td><%= gadget.content %></td>
        <td><%= link_to 'Show', gadget %></td>
        <% if gadget.user == current_user %>
        <td><%= link_to 'Edit', edit_gadget_path(gadget) %></td>
        <td><%= link_to 'Destroy', gadget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
  <%= link_to 'New Gadget', new_gadget_path %>
<% end %>

