<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gadget.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @gadget.content %>
</p>

<% unless @gadget.images.blank? %>
  <% @gadget.images.each do |image| %>
    <%= image_tag image.photo.url %>
  <% end %>
<% end %>
<% if @gadget.user == current_user %>
  <%= link_to 'Edit', edit_gadget_path(@gadget) %> |
  <%= link_to 'Destroy', @gadget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<%= link_to 'Back', gadgets_path %>