<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), html: { :method => :post, class: "form-signin" } ) do |f| %>
  <%= devise_error_messages! %>
  <h2 class="form-signin-heading">Forgot your password?</h2>
  
  <%= f.email_field :email, type: 'email', :autofocus => true, class: 'form-control input-lg forgot', placeholder: "Email address" %>

  <%= f.submit "Send me reset password instructions", class: 'btn btn-lg btn-primary btn-block' %>      
  <hr />
  <%= render "users/shared/links" %>
<% end %>
