<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form-signin"} ) do |f| %>
  <%= devise_error_messages! %>
  
  <h2 class="form-signin-heading">Please sign up</h2>
  
  <%= f.email_field :email, type: 'email', :autofocus => true, class: 'form-control input-lg', placeholder: "Email address" %>
  <%= f.email_field :password, type: 'password', class: 'form-control input-lg', placeholder: "Password" %>
  <%= f.email_field :password_confirmation, type: 'password', class: 'form-control input-lg confirm', placeholder: "Password confirmation" %>

  <%= f.submit "Sign up", class: 'btn btn-lg btn-primary btn-block' %>      
  <hr />
  <%= render "users/shared/links" %>
<% end %>
